<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>브라우저 동작원리</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/note.css">
</head>

<body>
  <div class="wrap">
    <h1 class="note_title">6. 브라우저 동작원리</h1>
    <div class="note_box">
      <ul class="note_list">
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc"><span class="ic_bullet type03"></span></p>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc"><span class="ic_bullet type03"></span></p>
        </li>
      </ul>
      <div class="code_box"></div>
    </div>
  </div>
</body>

</html>