<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Module</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/note.css">
</head>

<body>
  <div class="wrap">
    <h1 class="note_title">1. Module</h1>
    <div class="note_box">
      <ul class="note_list">
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc"><span class="ic_bullet type03"></span></p>
          <div class="code_box">
            	&lt;script type="module"&gt;<br>
              import 가져올거 from '경로'<br>
              import Element from '경로'<br>
            	&lt;/script&gt;<br>
              모듈 파일에서 요소 내보내기<br>
              export default Element;<br>
              export default 는 파일당 한번만 사용가능.<br>
              여러개 내보내고 싶으면 export로 선언해준다.<br>
              1	&#41; export 내보낼거1<br>
                 export 내보낼거2<br>
              2	&#41; export {내보낼거1, 내보낼거2}<br>
              3	&#41; export var a=10<br>
                 export var b=10<br>

              export default 로 내보냈을 경우 가져올 것의 export된 이름을 변경해서 작명해도 된다.<br>
              export 로만 내보냈을 경우 가져올 것의 export된 이름을 동일하게 써서 중괄호에 담아준다.<br>
              import는 import {a} from "경로"<br>
              export 와 export default를 동시에 쓸수 있다.<br>
              export 와 export default를 동시에 사용하여 내보내기 한 것을 가져올 경우<br>
              import 작명,{a,b} from '경로';<br>

              export로 내보내기한 것을 가져올 때 이름을 바꾸고 싶을 경우<br>
              import {기존이름 as 작명} from "경로";<br>
              모든 걸 다 import 해오는 * 기호 (export로 내보낸것만 가능)<br>
              import * as 별명 from "경로";<br>
              코드를 작성할 때<br>
              별명.원래이름 으로 명시한다.<br>
              // 옛날문법 <br>
              var 가져오기 = require('경로')
          </div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc"><span class="ic_bullet type03"></span></p>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc"><span class="ic_bullet type03"></span></p>
        </li>
      </ul>
      <div class="code_box"></div>
    </div>
  </div>
</body>

</html>