<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>클래스로 만드는 2D 게임</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&display=swap" rel="stylesheet">    
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/game.css">
  <link rel="stylesheet" href="../css/note.css">
</head>

<body>
  
  <canvas id="canvas"></canvas>
  <script type="module" src="../js/index.js"></script>
</body>

</html>