<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&display=swap" rel="stylesheet">    
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/note.css">
</head>

<body>
  <div class="wrap">
    <h1 class="note_title">11. </h1>
    <div class="note_box">
      <ul class="note_list">
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc type02"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc type03"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc type02"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc type03"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc type02"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc type03"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc type02"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc type03"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc type02"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc type03"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc type02"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc type03"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc type02"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc type03"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc type02"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc type03"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>
        <li class="list_items">
          <p class="text_desc"><span class="ic_bullet type01"></span></p>
          <p class="sub_desc type02"><span class="ic_bullet type02"></span></p>
          <p class="sub_desc type03"><span class="ic_bullet type03"></span></p>
          <div class="code_box"></div>
        </li>

      </ul>
    </div>
  </div>
</body>

</html>